* {
  margin: 0;
  padding: 0;
  
}

body {
  position: relative;
}
#margin {
  padding-top: 11%;
}

.margin_top {
  text-align: center;
  margin-top: 5%;
}











@media (min-width: 1440px) {
  #resume_top {
    margin-top: 11%;
  }
}
@media (min-width: 1024px) {


}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
