#About_left_side {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.profile {
  width: 50% !important;

  border: 10px solid rgb(137, 170, 220);

  margin-top: 50px;
  border-radius: 50%;
}

#border {
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  opacity: 0.6;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#About_Para {
  margin-left: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
}

#top {
  display: flex;
  justify-content: space-around;
}

.About_heading {
  text-align: center;
}